<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>活动管理</title>
<#include '/include/cssjs_up.html' encoding="UTF-8"/></head>

<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <input type="text" placeholder="请输入关键词" class="input-sm form-control"id="name"> <span class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-primary" onclick="list($('#name').val())">搜索</button> </span>
                                </div>
                            </div>
                            <div class="col-sm-2">
                            	<button type="button" class="btn btn-sm btn-success" onclick="window.location.href='../activityInfo/add'">添加</button>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>	
                                    		<th>编号</th>
                                        	<th>标题</th>
                                        	<th>描述</th>
                                        	<th>总人数</th>
                                        	<th>报名开始时间</th>
                                        	<th>报名截止时间</th>
                                        	<th>创建时间</th>
                                        	<th>修改时间</th>
                                        	<th>活动图片</th>
                                        	<th>状态</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody id="list">
                                    
                                </tbody>
                            </table>
                            <div id="demo7" style="text-align:center;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<#include '/include/cssjs_down.html' encoding="UTF-8"/><script type="text/javascript" src="../plugin/layui/oliverui.js"></script>
<script type="text/x-dot-template" id="customer-tpl">
	   {{~it.property:p:index}}
		 		<tr> 
		 			  <td>{{!p.id}}</td>
                      	<td>{{!p.title}}</td>
                      	<td>{{!p.description}}</td>
                      	<td>{{!p.totalPeople}}</td>
		 			  	<td>{{! new Date(p.gmtEnrollStart).Format("yyyy-MM-dd hh:mm:ss")}}</td>
		 			  	<td>{{! new Date(p.gmtEnrollEnd).Format("yyyy-MM-dd hh:mm:ss")}}</td>
		 			  	<td>{{! new Date(p.gmtCreate).Format("yyyy-MM-dd hh:mm:ss")}}</td>
		 			  	<td>{{! new Date(p.gmtModify).Format("yyyy-MM-dd hh:mm:ss")}}</td>
                      	<td>{{!p.picture}}</td>
                      	<td>{{!p.state}}</td>
                      <td>
						 <button type="button" class="btn btn-outline btn-primary" style="margin-right: 10px;" onclick="window.location.href='../activityInfo/add?id={{!p.id}}'">编辑</button>
						 <button type="button" class="btn btn-outline btn-danger" onclick="del({{!p.id}},this)">删除</button>
					  </td>
                </tr>
	   {{~ }}
</script>
<script type="text/javascript">
var ui;
$(function(){
	Oliver.use(['ajax','laypage','dot'],function(u){
		ui=u;
		list('');
	});
});
function list(name){
	ui.laypage({
		url : "../activityInfo/list",
		data :{
			id : name
		},
		elem : "#list",
		cont : "demo7",
		rows : 10,
		versions : "v2",
		success : function(res){
			var tpl = doT.template($("#customer-tpl").text());
			var data = {property:res.data.result};
        	return tpl(data);
		}
	});
}
function del(id,obj){
	var index=parent.layer.confirm('是否删除该管理员？', {
		  btn: ['确定','取消'] //按钮
		}, function(){
			parent.layer.close(index);
			$(obj).ajax({
	    		url : "../activityInfo/del?id="+id,
	    		icon : 1,
	    		loading : "删除中...",
	    		success : function(result){
	    			if(result.code==0){
						location.href="../activityInfo/activityInfoPage";
					}else{
						showToast(result);
					}
	    		}
	    	});
		})
}
</script>
</body>

</html>
