<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>省市区管理</title>
<#include '/include/cssjs_up.html' encoding="UTF-8"/></head>

<body class="gray-bg">
	<div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-12">
            <ol class="breadcrumb" style="margin-top: 10px;margin-bottom: -10px;">
                <li>
                    <a href="../commonCityData/commonCityDataPage">省市区管理</a>
                </li>
                <li>
                    <strong><#if commonCityData.id??>编辑<#else>添加</#if></strong>
                </li>
            </ol>
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                    	<form class="form-horizontal m-t" id="form">
                    		<input type="hidden" name="id" value="${commonCityData.id}"/>
		                            <div class="form-group">
		                                <label class="col-sm-3 control-label">：</label>
		                                <div class="col-sm-8">
		                                    <input name="name" msg="请输入" class="form-control" type="text" value="${commonCityData.name}">
		                                </div>
		                            </div>
		                            <div class="form-group">
		                                <label class="col-sm-3 control-label">：</label>
		                                <div class="col-sm-8">
		                                    <input name="pinyin" msg="请输入" class="form-control" type="text" value="${commonCityData.pinyin}">
		                                </div>
		                            </div>
		                            <div class="form-group">
		                                <label class="col-sm-3 control-label">：</label>
		                                <div class="col-sm-8">
		                                    <input name="jianpin" msg="请输入" class="form-control" type="text" value="${commonCityData.jianpin}">
		                                </div>
		                            </div>
		                            <div class="form-group">
		                                <label class="col-sm-3 control-label">：</label>
		                                <div class="col-sm-8">
		                                    <input name="firstLetter" msg="请输入" class="form-control" type="text" value="${commonCityData.firstLetter}">
		                                </div>
		                            </div>
		                            <div class="form-group">
		                                <label class="col-sm-3 control-label">1 为省级 2为市级 3为区级：</label>
		                                <div class="col-sm-8">
		                                    <input name="depth" msg="请输入1 为省级 2为市级 3为区级" class="form-control" type="text" value="${commonCityData.depth}">
		                                </div>
		                            </div>
		                            <div class="form-group">
		                                <label class="col-sm-3 control-label">：</label>
		                                <div class="col-sm-8">
		                                    <input name="parentId" msg="请输入" class="form-control" type="text" value="${commonCityData.parentId}">
		                                </div>
		                            </div>
                            <div class="form-group">
                                <div class="col-sm-8 col-sm-offset-3">
                                    <button class="btn btn-primary" type="button" id="tj">提交</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<#include '/include/cssjs_down.html' encoding="UTF-8"/><script type="text/javascript" src="../plugin/layui/oliverui.js"></script>
    <script type="text/javascript">
    $(function(){
    	$('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
    	Oliver.use(['ajax','login'],function(ui){
    		$("#tj").on("click",function(){
    			$(this).verify({
        			url : "../commonCityData/save",
        			formId : "form",
        			icon : 1,
        			loading : "提交中...",
        			success : function (result){
        				if(result.code==0){
        					location.href="../commonCityData/commonCityDataPage";
        				}else{
        					showToast(result);
        				}
        			}
        		})
    		})
    	});
    });
    </script>
</body>

</html>
