<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>礼品券模板</title>
<#include '/include/cssjs_up.html' encoding="UTF-8"/></head>

<body class="gray-bg">
	<div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-12">
            <ol class="breadcrumb" style="margin-top: 10px;margin-bottom: -10px;">
                <li>
                    <a href="../couponModu/couponModuPage">礼品券模板</a>
                </li>
                <li>
                    <strong><#if couponModu.id??>编辑<#else>添加</#if></strong>
                </li>
            </ol>
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                    	<form class="form-horizontal m-t" id="form">
                    		<input type="hidden" name="id" value="${couponModu.id}"/>
		                            <div class="form-group">
		                                <label class="col-sm-3 control-label">名称：</label>
		                                <div class="col-sm-8">
		                                    <input name="name" msg="请输入名称" class="form-control" type="text" value="${couponModu.name}">
		                                </div>
		                            </div>
		                            <div class="form-group">
		                                <label class="col-sm-3 control-label">金额：</label>
		                                <div class="col-sm-8">
		                                    <input name="amount" msg="请输入金额" class="form-control" type="text" value="${couponModu.amount}">
		                                </div>
		                            </div>
		                            <div class="form-group">
		                                <label class="col-sm-3 control-label">百分比（0否，1是）：</label>
		                                <div class="col-sm-8">
		                                    <input name="hasPercent" msg="请输入百分比（0否，1是）" class="form-control" type="text" value="${couponModu.hasPercent}">
		                                </div>
		                            </div>
		                            <div class="form-group">
		                                <label class="col-sm-3 control-label">比率（%）：</label>
		                                <div class="col-sm-8">
		                                    <input name="percent" msg="请输入比率（%）" class="form-control" type="text" value="${couponModu.percent}">
		                                </div>
		                            </div>
		                            <div class="form-group">
		                                <label class="col-sm-3 control-label">描述：</label>
		                                <div class="col-sm-8">
		                                    <input name="description" msg="请输入描述" class="form-control" type="text" value="${couponModu.description}">
		                                </div>
		                            </div>
                            <div class="form-group">
                                <div class="col-sm-8 col-sm-offset-3">
                                    <button class="btn btn-primary" type="button" id="tj">提交</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<#include '/include/cssjs_down.html' encoding="UTF-8"/><script type="text/javascript" src="../plugin/layui/oliverui.js"></script>
    <script type="text/javascript">
    $(function(){
    	$('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
    	Oliver.use(['ajax','login'],function(ui){
    		$("#tj").on("click",function(){
    			$(this).verify({
        			url : "../couponModu/save",
        			formId : "form",
        			icon : 1,
        			loading : "提交中...",
        			success : function (result){
        				if(result.code==0){
        					location.href="../couponModu/couponModuPage";
        				}else{
        					showToast(result);
        				}
        			}
        		})
    		})
    	});
    });
    </script>
</body>

</html>
