<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>收货地址</title>
<#include '/include/cssjs_up.html' encoding="UTF-8"/></head>

<body class="gray-bg">
	<div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-12">
            <ol class="breadcrumb" style="margin-top: 10px;margin-bottom: -10px;">
                <li>
                    <a href="../userShippingAddress/userShippingAddressPage">收货地址</a>
                </li>
                <li>
                    <strong><#if userShippingAddress.id??>编辑<#else>添加</#if></strong>
                </li>
            </ol>
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                    	<form class="form-horizontal m-t" id="form">
                    		<input type="hidden" name="id" value="${userShippingAddress.id}"/>
		                            <div class="form-group">
		                                <label class="col-sm-3 control-label">：</label>
		                                <div class="col-sm-8">
		                                    <input name="userId" msg="请输入" class="form-control" type="text" value="${userShippingAddress.userId}">
		                                </div>
		                            </div>
		                            <div class="form-group">
		                                <label class="col-sm-3 control-label">是否默认收货地址：</label>
		                                <div class="col-sm-8">
		                                    <input name="isDefault" msg="请输入是否默认收货地址" class="form-control" type="text" value="${userShippingAddress.isDefault}">
		                                </div>
		                            </div>
		                            <div class="form-group">
		                                <label class="col-sm-3 control-label">：</label>
		                                <div class="col-sm-8">
		                                    <input name="province" msg="请输入" class="form-control" type="text" value="${userShippingAddress.province}">
		                                </div>
		                            </div>
		                            <div class="form-group">
		                                <label class="col-sm-3 control-label">：</label>
		                                <div class="col-sm-8">
		                                    <input name="city" msg="请输入" class="form-control" type="text" value="${userShippingAddress.city}">
		                                </div>
		                            </div>
		                            <div class="form-group">
		                                <label class="col-sm-3 control-label">：</label>
		                                <div class="col-sm-8">
		                                    <input name="area" msg="请输入" class="form-control" type="text" value="${userShippingAddress.area}">
		                                </div>
		                            </div>
		                            <div class="form-group">
		                                <label class="col-sm-3 control-label">联系人：</label>
		                                <div class="col-sm-8">
		                                    <input name="linkMan" msg="请输入联系人" class="form-control" type="text" value="${userShippingAddress.linkMan}">
		                                </div>
		                            </div>
		                            <div class="form-group">
		                                <label class="col-sm-3 control-label">详细地址：</label>
		                                <div class="col-sm-8">
		                                    <input name="address" msg="请输入详细地址" class="form-control" type="text" value="${userShippingAddress.address}">
		                                </div>
		                            </div>
		                            <div class="form-group">
		                                <label class="col-sm-3 control-label">收件人手机号：</label>
		                                <div class="col-sm-8">
		                                    <input name="mobile" msg="请输入收件人手机号" class="form-control" type="text" value="${userShippingAddress.mobile}">
		                                </div>
		                            </div>
		                            <div class="form-group">
		                                <label class="col-sm-3 control-label">收件人座机号：</label>
		                                <div class="col-sm-8">
		                                    <input name="phone" msg="请输入收件人座机号" class="form-control" type="text" value="${userShippingAddress.phone}">
		                                </div>
		                            </div>
		                            <div class="form-group">
		                                <label class="col-sm-3 control-label">企业名称：</label>
		                                <div class="col-sm-8">
		                                    <input name="company" msg="请输入企业名称" class="form-control" type="text" value="${userShippingAddress.company}">
		                                </div>
		                            </div>
                            <div class="form-group">
                                <div class="col-sm-8 col-sm-offset-3">
                                    <button class="btn btn-primary" type="button" id="tj">提交</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<#include '/include/cssjs_down.html' encoding="UTF-8"/><script type="text/javascript" src="../plugin/layui/oliverui.js"></script>
    <script type="text/javascript">
    $(function(){
    	$('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
    	Oliver.use(['ajax','login'],function(ui){
    		$("#tj").on("click",function(){
    			$(this).verify({
        			url : "../userShippingAddress/save",
        			formId : "form",
        			icon : 1,
        			loading : "提交中...",
        			success : function (result){
        				if(result.code==0){
        					location.href="../userShippingAddress/userShippingAddressPage";
        				}else{
        					showToast(result);
        				}
        			}
        		})
    		})
    	});
    });
    </script>
</body>

</html>
