<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TLinkMapper">
         <resultMap id="BaseResultMap" type="com.linwang.entity.TLink" extends="associationMap">
			<id column="id" property="id" />
			<result column="name" property="name" />
			<result column="target" property="target" />
			<result column="position" property="position" />
			<result column="description" property="description" />
			<result column="sort" property="sort" />
			<result column="url" property="url" />
		 </resultMap>
		 <sql id="Base_Column_List" >
				`id`,
	            `name`,
	            `target`,
	            `position`,
	            `description`,
	            `sort`,
	            `url`
	            
		 </sql>
		 <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
		    SELECT 
		    <include refid="Base_Column_List" />
		    FROM `t_link`
		    WHERE `id` = #{id}
		  </select>
		  <select id="getByCondition" resultMap="BaseResultMap" parameterType="java.util.Map" >
		    SELECT 
		    <include refid="Base_Column_List" />
		    FROM `t_link`
		    <include refid="map_params_where_condition" />
			<if test="orderBy == null" >
		      ORDER BY `id` DESC
		    </if>
		    <if test="orderBy != null" >
		      ORDER BY ${orderBy}
		    </if>
			LIMIT 1
		  </select>
		  <select id="aggregate" parameterType="java.util.Map" resultType="java.util.Map">
		    SELECT ${aggregate_sql} FROM `t_link`
		    <include refid="map_params_where_condition" />
		  </select>
		  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
		    DELETE FROM `t_link`
		    WHERE `id` = #{id}
		  </delete>
         <insert id="insertTLink" parameterType="com.linwang.entity.TLink">
         	 <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
		      SELECT LAST_INSERT_ID()
		     </selectKey>
             insert into `t_link`(
	             `name`,
	             `target`,
	             `position`,
	             `description`,
	             `sort`,
	             `url`
	             
             ) 
	         values 
	         (
				 #{name},
				 #{target},
				 #{position},
				 #{description},
				 #{sort},
				 #{url}	         	
		      )    
	      </insert>
	      <insert id="insertSelective" parameterType="com.linwang.entity.TLink" >
			    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
			      SELECT LAST_INSERT_ID()
			    </selectKey>
			    INSERT INTO `t_link`
			    <trim prefix="(" suffix=")" suffixOverrides="," >
		              <if test="name!= null" >
						`name`,
					  </if>
		              <if test="target!= null" >
						`target`,
					  </if>
		              <if test="position!= null" >
						`position`,
					  </if>
		              <if test="description!= null" >
						`description`,
					  </if>
		              <if test="sort!= null" >
						`sort`,
					  </if>
		              <if test="url!= null" >
						`url`,
					  </if>
			    </trim>
			    <trim prefix="values (" suffix=")" suffixOverrides="," >
		         	   <if test="name != null" >
						#{name},
					   </if>
		         	   <if test="target != null" >
						#{target},
					   </if>
		         	   <if test="position != null" >
						#{position},
					   </if>
		         	   <if test="description != null" >
						#{description},
					   </if>
		         	   <if test="sort != null" >
						#{sort},
					   </if>
		         	   <if test="url != null" >
						#{url},
					   </if>
			    </trim>
		  </insert>
          <update id="updateByPrimaryKeySelective" parameterType="com.linwang.entity.TLink" >
			UPDATE `t_link`
			<set >
		         <if test="name != null" >
					`name` = #{name},
			  	 </if>	
		         <if test="target != null" >
					`target` = #{target},
			  	 </if>	
		         <if test="position != null" >
					`position` = #{position},
			  	 </if>	
		         <if test="description != null" >
					`description` = #{description},
			  	 </if>	
		         <if test="sort != null" >
					`sort` = #{sort},
			  	 </if>	
		         <if test="url != null" >
					`url` = #{url},
			  	 </if>	
			</set>
			WHERE `id` = #{id}
		  </update>
		  <update id="updateByPrimaryKey" parameterType="com.linwang.entity.TLink" >
			UPDATE `t_link` SET
					`name` = #{name},
					`target` = #{target},
					`position` = #{position},
					`description` = #{description},
					`sort` = #{sort},
					`url` = #{url}
	         		
			WHERE `id` = #{id}
		  </update>
		  <update id="updateByCondition" parameterType="java.util.Map" >
			UPDATE `t_link`
			<set>
		         <if test="entity.name != null" >
					`name` = #{entity.name},
			  	 </if>	
		         <if test="entity.target != null" >
					`target` = #{entity.target},
			  	 </if>	
		         <if test="entity.position != null" >
					`position` = #{entity.position},
			  	 </if>	
		         <if test="entity.description != null" >
					`description` = #{entity.description},
			  	 </if>	
		         <if test="entity.sort != null" >
					`sort` = #{entity.sort},
			  	 </if>	
		         <if test="entity.url != null" >
					`url` = #{entity.url},
			  	 </if>	
			</set>
			<include refid="map_params_where_condition" />
		  </update>
		  <update id="updateIncreateNumbers" parameterType="java.util.Map" >
			UPDATE `t_link`
			<set>
			  <foreach collection="increateNumbers" item="numberCloums">
				`${numberCloums.column}` = `${numberCloums.column}` + #{numberCloums.number},
			  </foreach>
			</set>
			<include refid="map_params_where_condition" />
		  </update>
		  <sql id="map_params_where_condition" >
		    <trim prefix="WHERE" prefixOverrides="AND">
		    	<if test="id != null" >
			       AND `id` = #{id}
			    </if>
		      	<if test="name != null" >
			       AND `name` = #{name}
			    </if>
		      	<if test="target != null" >
			       AND `target` = #{target}
			    </if>
		      	<if test="position != null" >
			       AND `position` = #{position}
			    </if>
		      	<if test="description != null" >
			       AND `description` = #{description}
			    </if>
		      	<if test="sort != null" >
			       AND `sort` = #{sort}
			    </if>
		      	<if test="url != null" >
			       AND `url` = #{url}
			    </if>
			  <if test="condition != null">
				  <if test="condition.name != null" >
			        AND `name` = #{condition.name}
				  </if>
				  <if test="condition.target != null" >
			        AND `target` = #{condition.target}
				  </if>
				  <if test="condition.position != null" >
			        AND `position` = #{condition.position}
				  </if>
				  <if test="condition.description != null" >
			        AND `description` = #{condition.description}
				  </if>
				  <if test="condition.sort != null" >
			        AND `sort` = #{condition.sort}
				  </if>
				  <if test="condition.url != null" >
			        AND `url` = #{condition.url}
				  </if>
			  </if>
			  <if test="vo != null and !vo.expressionChainList.empty">
		        AND
		        <foreach collection="vo.expressionChainList" item="expressionChain" separator="OR">
		          <if test="!expressionChain.expressionList.empty">
		            <foreach collection="expressionChain.expressionList" item="expression" separator="AND">
		              <choose>
		                <when test="expression.type == 0">
		                  `${expression.column}` ${expression.operator}
		                </when>
		                <when test="expression.type == 1">
		                  `${expression.column}` ${expression.operator} #{expression.value}
		                </when>
		                <when test="expression.type == 2">
		                  `${expression.column}` ${expression.operator} #{expression.value} AND #{expression.value1}
		                </when>
		                <when test="expression.type == 3">
		                  `${expression.column}` ${expression.operator}
		                  <foreach collection="expression.values" item="value" open="(" separator="," close=")">
							#{value}		                     
		                  </foreach>
		                </when>
		              </choose>
		            </foreach>
		          </if>
		        </foreach>
		      </if>
		      <if test="expressionChainList != null and !expressionChainList.empty">
		        AND
		        <foreach collection="expressionChainList" item="expressionChain" separator="OR">
		          <if test="!expressionChain.expressionList.empty">
		            <foreach collection="expressionChain.expressionList" item="expression" separator="AND">
		              <choose>
		                <when test="expression.type == 0">
		                  `${expression.column}` ${expression.operator}
		                </when>
		                <when test="expression.type == 1">
		                  `${expression.column}` ${expression.operator} #{expression.value}
		                </when>
		                <when test="expression.type == 2">
		                  `${expression.column}` ${expression.operator} #{expression.value} AND #{expression.value1}
		                </when>
		                <when test="expression.type == 3">
		                  `${expression.column}` ${expression.operator}
		                  <foreach collection="expression.values" item="value" open="(" separator="," close=")">
							#{value}		                     
		                  </foreach>
		                </when>
		              </choose>
		            </foreach>
		          </if>
		        </foreach>
		      </if>
		    </trim>
		 </sql>
         <select id="getList" resultMap="BaseResultMap" parameterType="java.util.Map" >
		    SELECT
		    <include refid="Base_Column_List" />
		    FROM `t_link`
		    <include refid="map_params_where_condition" />
		    <if test="orderBy == null" >
		      ORDER BY `id` DESC
		    </if>
		    <if test="orderBy != null" >
		      ORDER BY ${orderBy}
		    </if>
		    <if test="pageBeginIndex != null and pageSize != null" >
		      LIMIT #{pageBeginIndex},#{pageSize}
		    </if>
		    <if test="pageBeginIndex == null and pageSize != null" >
		      LIMIT #{pageSize}
		    </if>
		    <if test="pageBeginIndex != null and pageSize == null" >
		      LIMIT #{pageBeginIndex}
		    </if>
		  </select>
		  <delete id="delete" parameterType="java.util.Map" >
		    DELETE
		    FROM `t_link`
		    <include refid="map_params_where_condition" />
		  </delete>
		  <select id="getCount" resultType="java.lang.Integer" parameterType="java.util.Map" >
		    SELECT COUNT(id)
		    FROM `t_link`
		    <include refid="map_params_where_condition" />
		  </select>
</mapper>