	<!-- 全局js -->
    <script src="../js/jquery.min.js?v=2.1.4"></script>
    <script src="../js/bootstrap.min.js?v=3.3.6"></script>
    <script src="../js/metisMenu/jquery.metisMenu.js"></script>
    <script src="../js/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="../js/layer/layer.min.js"></script>

    <!-- 自定义js -->
    <script src="../js/hplus.js?v=4.1.0"></script>
    <script type="text/javascript" src="../js/contabs.js"></script>

    <!-- 第三方插件 -->
    <script src="../js/pace/pace.min.js"></script>
    <script src="../js/nestable/jquery.nestable.js"></script>
    <script src="../js/iCheck/icheck.min.js"></script>
    <script src="../js/datapicker/bootstrap-datepicker.js"></script>